CREATE TABLE userdata (
    id int(11) NOT NULL AUTO_INCREMENT,
    name varchar(255) COLLATE utf8_bin NOT NULL,
    date DATE,
    clothHeikin MEDIUMBLOB,
    clothSaido MEDIUMBLOB,
    clothKido MEDIUMBLOB,
);
  
CREATE TABLE timeTOlocation (
    id int(11) NOT NULL AUTO_INCREMENT,
    name(255) COLLATE utf8_bin NOT NULL,
    place(255) COLLATE utf8_bin,
    time(255) COLLATE utf8_bin,
   (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
AUTO_INCREMENT=1 ;

#データベース作成の流れ
# CREATE DATABASE names;
# SHOW DATABASES;
# USE names;
# CREATE TABLE users (id INT, name , )
#
# SHOW TABLES;

In [41]:
import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='tatelab1',
                             password='tatelab1',
                             db='names',
                             charset='utf8',
                             # 結果の受け取り方の指定。Dict形式で結果を受け取ることができる
                             cursorclass=pymysql.cursors.DictCursor)

In [42]:
with connection.cursor() as cursor:
    sql = "INSERT INTO users (name) VALUES (%s)"
    cursor.execute(sql, ('hasegawa'))

connection.commit() #データをいじったあとはこれで確定する

In [47]:
with connection.cursor() as cursor:
    # Read a single record
    sql = "SELECT name  FROM `users` WHERE `id` = %s"
    cursor.execute(sql, ('1',))
    result = cursor.fetchone()
    print(result)

{'name': 'hasegawa'}