CREATE TABLE userdata (
    id int(11) NOT NULL AUTO_INCREMENT,
    name varchar(255) COLLATE utf8_bin NOT NULL,
    date int(8),
    clothHeikin MEDIUMBLOB,
    clothSaido MEDIUMBLOB,
    clothKido MEDIUMBLOB,
    PRIMARY KEY (id)
);
  
CREATE TABLE timeTOlocation (
    name varchar(255) COLLATE utf8_bin NOT NULL,
    time varchar(255) COLLATE utf8_bin NOT NULL,
    place varchar(255) COLLATE utf8_bin
);

#データベース作成の流れ
# CREATE DATABASE names;
# SHOW DATABASES;
# USE names;
# CREATE TABLE users (id INT, name , )
#
# SHOW TABLES;

In [121]:
import pymysql.cursors
import datetime

connection = pymysql.connect(host='localhost',
                             user='tatelab1',
                             password='tatelab1',
                             db='names',
                             charset='utf8',
                             # 結果の受け取り方の指定。Dict形式で結果を受け取ることができる
                             cursorclass=pymysql.cursors.DictCursor)

In [122]:
with connection.cursor() as cursor:
    sql = "INSERT INTO userdata (name,date) VALUES (%s, %s)"
    cursor.execute(sql, ('hasegawa', str(datetime.date.today().strftime('%Y%m%d'))))

connection.commit() #データをいじったあとはこれで確定する

In [123]:
with connection.cursor() as cursor:
    # Read a single record
    sql = "SELECT name, date FROM userdata WHERE `id` = %s"
    cursor.execute(sql, ('1',))
    result = cursor.fetchone()
    print(result)

{'name': 'hasegawa', 'date': 20210920}